# dependencies
/node_modules
/fe/node_modules
/be/node_modules
/packages/common/node_modules

# production
# fe
/dist
/fe/dist
/fe/.env
/fe/.env.*
/fe/.DS_Store
/fe/coverage/
/fe/logs/
/fe/*.log
/fe/npm-debug.log*
/fe/yarn-debug.log*
/fe/yarn-error.log*
/fe/pids/
/fe/tmp/
/fe/.vscode/
/fe/.idea/ 

# be
/be/dist
/be/build-info.json
/be/.env
/be/.env.*
/be/.DS_Store
/be/coverage/
/be/logs/
/be/*.log
/be/npm-debug.log*
/be/yarn-debug.log*
/be/yarn-error.log*
/be/pids/
/be/tmp/
/be/.vscode/
/be/.idea/ 

# packages
/packages/*/dist
/packages/*/.DS_Store
/packages/*/coverage/
/packages/*/logs/
/packages/*/*.log

# misc
.DS_Store
.env
.env.*
*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db 